
.header {
    padding-block: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    
    transition: padding var(--transition);
  }
  
  .header.active {
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
    padding-block: 20px;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo { width: 120px; }
  
  .logo img { width: 45%; }
  
  .menu-open-btn {
    font-size: 35px;
    color: var(--mango-tango);
  }
  
  .navbarr {
    position: fixed;
    top: 0;
    left: -250px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background: var(--mantis);
    padding: 80px 20px;
    transition: 0.15s ease-in;
    z-index: 3;
  }
  
  .navbarr.active {
    left: 0;
    transition: 0.25s ease-out;
  }
  
  .menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 5px;
    background: var(--rich-black-fogra-29);
    color: var(--white);
  }
  
  .navbarr .logo {
    width: 160px;
    margin-bottom: 30px;
    margin-inline: auto;
  }
  
  .navbarr-list { 
      margin-bottom: 15px; }
  
  .navbarr-link {
    color: white;
    font-weight: var(--fw-600);
    padding-block: 15px;
    font-family: var(--dm-sans);
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease-out;
    z-index: 3;
  }
  
  .overlay.active {
    pointer-events: all;
    opacity: 1;
  }
  
  